body{
    font-family: helvetica;
}
.wrapper{
    background-color:white;
}
h1{
    
    color:black;
}
td{
/*    color:blue;
    background-color:grey;
    */
    padding:10px;

    text-align:center;
}
.ft{
    /* it likes this comment*/
    text-align:center;
}
.error{
    color:red;
}
.badScore{
    background-color:red;
    
}
.goodScore{
    background-color:green;
}
.dropDown{
    width:100%;
    text-align: center;
    
}

