body{
    font-family: helvetica;
    background-color:#4E2511
}

.splashIMG {
    display: block;
    margin: auto;
    width: 40%;
    height:300px;
    width:300px;
    
    
}
.outsideWrapper{
      background-color: white; 
      width:100%;
      padding-top: 50px;
      padding-bottom: 50px;
}
.wrapper{
  
   width:300px;
   margin-left:auto;
    margin-right:auto;
   
}
form{
    width:300px;
    display:inline-block;
    text-align: center;
   
/*     width:300px;
    margin-left:auto;
    margin-right:auto;
    */
}
h1{
    
    background-color:#4E2511;
    padding: 20px;
}
td{
/*    color:blue;
    background-color:grey;
    */
    padding:10px;

    text-align:center;
}
.ft{
    /* it likes this comment*/
    background-color:#4E2511;
    padding: 20px;
    color:white;
    text-align:left;
}
.error{
    color:red;
}
.badScore{
    background-color:red;
    
}
.goodScore{
    background-color:green;
}
.dropDown{
    width:100%;
    text-align: center;
    
}

.splshText{
    color:#4E2511;
    text-align:center;
}
.button1:hover{
    background-color: cadetblue;
}
.button1{
    border-style: none;
    font-decoration:none;
    font-size: 1.05em;
    border-radius: 25px;
    width:100px;
    padding:10px;
    background-color:grey;
}
.buttonTable{
    width:100%;
}

ul{ 
      list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4E2511;
}
li {
    float: left;
}


li a {
   display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
